@font-face {
  font-family: 'Omnes';
  src: url("fonts/Omnes-Bold.eot");
  src: url("fonts/Omnes-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Omnes-Bold.woff2") format("woff2"), url("fonts/Omnes-Bold.woff") format("woff"), url("fonts/Omnes-Bold.ttf") format("truetype"), url("fonts/Omnes-Bold.svg#Omnes-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial Rounded';
  src: url("fonts/ArialRoundedMTBold.eot");
  src: url("fonts/ArialRoundedMTBold.eot?#iefix") format("embedded-opentype"), url("fonts/ArialRoundedMTBold.woff2") format("woff2"), url("fonts/ArialRoundedMTBold.woff") format("woff"), url("fonts/ArialRoundedMTBold.ttf") format("truetype"), url("fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
